<a href="https://colab.research.google.com/github/Gus-1003/DataScience/blob/main/An%C3%A1lise_Dataset_C%C3%A2ncer-de-Mama/An%C3%A1lise_C%C3%A2ncer-de-Mama.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projeto de Analíse de Dados - Câncer de Mama

## Informações sobre o Dataset:

Dados de Wisconsin-EUA: Câncer de Mama

Os recursos são calculados a partir de uma imagem digitalizada de um aspirado por agulha fina (FNA) de uma massa mamária. Eles descrevem as características dos núcleos celulares presentes na imagem.
No espaço tridimensional é aquele descrito em: [K. P. Bennett e O. L. Mangasarian: "Robust Linear Programming Discrimination of Two Linearly Inseparable Sets", Optimization Methods and Software 1, 1992, 23-34].

**Informação de atributo:**

1.   número de identificação
2.   Diagnóstico (M = maligno, B = benigno) 3-32)

**Dez recursos de valor real são calculados para cada núcleo da célula:**

*   Raio (média das distâncias do centro aos pontos do perímetro)
*   Textura (desvio padrão dos valores da escala de cinza)
*   Perimetro
*   Area
*   Suavidade (variação local nos comprimentos do raio)
*   Compactação (perímetro^2 / área - 1.0)
*   Concavidade (gravidade das porções côncavas do contorno)
*   Pontos côncavos (número de porções côncavas do contorno)
*   Simetria
*   Dimensão fractal ("aproximação do litoral" - 1)

A média, erro padrão e "pior" ou maior (média dos três
maiores valores) desses recursos foram calculados para cada imagem,
resultando em 30 recursos. Por exemplo, o campo 3 é o raio médio, o campo
13 é o raio SE, o campo 23 é o pior raio.

Todos os valores de recursos são recodificados com quatro dígitos significativos.

Valores de atributo ausentes: nenhum

Distribuição de classes: 357 benignos, 212 malignos

![OIP.jfif]()

## Importando Bibliotecas:

In [ ]:
import numpy as np
import pandas as pd
from apyori import apriori
import seaborn as sns
import matplotlib.pyplot as plt

## Leitura do Dataset:

In [ ]:
Diagnostico = pd.read_csv('https://github.com/Gus-1003/Machine_Learning/blob/main/dataset.csv?raw=true')

## Analíse da Tabela:

### visão geral dos dados:

In [ ]:
Diagnostico

           id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0      842302         M  ...                  0.11890          NaN
1      842517         M  ...                  0.08902          NaN
2    84300903         M  ...                  0.08758          NaN
3    84348301         M  ...                  0.17300          NaN
4    84358402         M  ...                  0.07678          NaN
..        ...       ...  ...                      ...          ...
564    926424         M  ...                  0.07115          NaN
565    926682         M  ...                  0.06637          NaN
566    926954         M  ...                  0.07820          NaN
567    927241         M  ...                  0.12400          NaN
568     92751         B  ...                  0.07039          NaN

[569 rows x 33 columns]

### Dimesões da tabela:

In [ ]:
# numpy.shape (): nos dá o número de elementos em cada dimensão de um array.
Diagnostico.shape
# Nesse caso 569 linhas e 33 Colunas

(569, 33)

Conclusão a partir do que foi introduzido:

*   Temos 569 linhas, consequentemente 569 pacientes
*   Temos 33 Colunas, ou seja, atributos que podem caracterizar o paciente e o cancer que ele possui;
*   Dos 569 temos 212 casos malignos. Nessa tabela representando que os casos mais graves são a minoria;

### Características dos atributos:

In [ ]:
Diagnostico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       569 non-null    int64
 1   diagnosis                569 non-null    object
 2   radius_mean              569 non-null    float64
 3   texture_mean             569 non-null    float64
 4   perimeter_mean           569 non-null    float64
 5   area_mean                569 non-null    float64
 6   smoothness_mean          569 non-null    float64
 7   compactness_mean         569 non-null    float64
 8   concavity_mean           569 non-null    float64
 9   concave points_mean      569 non-null    float64
 10  symmetry_mean            569 non-null    float64
 11  fractal_dimension_mean   569 non-null    float64
 12  radius_se                569 non-null    float64
 13  texture_se               569 non-null    float64
 14  perimeter_se             569 non-null    float64
 15  area_se                  569 non-null    float64
 16  smoothness_se            569 non-null    float64
 17  compactness_se           569 non-null    float64
 18  concavity_se             569 non-null    float64
 19  concave points_se        569 non-null    float64
 20  symmetry_se              569 non-null    float64
 21  fractal_dimension_se     569 non-null    float64
 22  radius_worst             569 non-null    float64
 23  texture_worst            569 non-null    float64
 24  perimeter_worst          569 non-null    float64
 25  area_worst               569 non-null    float64
 26  smoothness_worst         569 non-null    float64
 27  compactness_worst        569 non-null    float64
 28  concavity_worst          569 non-null    float64
 29  concave points_worst     569 non-null    float64
 30  symmetry_worst           569 non-null    float64
 31  fractal_dimension_worst  569 non-null    float64
 32  Unnamed: 32              0 non-null      float64
dtypes: float64(31), int64(1), object(1)
memory usage: 146.8+ KB

Conclusão a partir das informações:
1.   Não há dados faltodos
2.   A maioria dos valores são números reais
3.   Somente o ID do paciente é um inteiro

### Características Descritivas:

In [ ]:
Diagnostico.describe()

                 id  radius_mean  ...  fractal_dimension_worst  Unnamed: 32
count  5.690000e+02   569.000000  ...               569.000000          0.0
mean   3.037183e+07    14.127292  ...                 0.083946          NaN
std    1.250206e+08     3.524049  ...                 0.018061          NaN
min    8.670000e+03     6.981000  ...                 0.055040          NaN
25%    8.692180e+05    11.700000  ...                 0.071460          NaN
50%    9.060240e+05    13.370000  ...                 0.080040          NaN
75%    8.813129e+06    15.780000  ...                 0.092080          NaN
max    9.113205e+08    28.110000  ...                 0.207500          NaN

[8 rows x 32 columns]

In [ ]:
# Fazendo referencia a algumas colunas
# Dois colchetes nesse caso
associacao1 = Diagnostico[['diagnosis', 'radius_mean']] 
print(associacao1)

    diagnosis  radius_mean
0           M        17.99
1           M        20.57
2           M        19.69
3           M        11.42
4           M        20.29
..        ...          ...
564         M        21.56
565         M        20.13
566         M        16.60
567         M        20.60
568         B         7.76

[569 rows x 2 columns]