<a href="https://colab.research.google.com/github/Gus-1003/DataScience-Minhas_Praticas/blob/main/An%C3%A1lise_Dataset_Filmes/Filmes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importes:

In [ ]:
!pip install apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.7/dist-packages (1.1.2)

In [ ]:
import numpy as np
import matplotlib as plt
import pandas as pd
from apyori import apriori

In [ ]:
Filmes = pd.read_csv('https://github.com/Void-Sentry/Machine-Learning/blob/main/moviesAtt.csv?raw=true')
Filmes.head()

            V1       V2             V3          V4     V5
0  Sixth Sense    LOTR1  Harry Potter1  Green Mile  LOTR2
1    Gladiator  Patriot     Braveheart         NaN    NaN
2        LOTR1    LOTR2            NaN         NaN    NaN
3    Gladiator  Patriot    Sixth Sense         NaN    NaN
4    Gladiator  Patriot    Sixth Sense         NaN    NaN

# Pr√©-Processamento

In [ ]:
Filmes.describe()

               V1         V2           V3    V4        V5
count          30         30           21     9         6
unique         13         14           13     6         5
top     Gladiator  Nosferatu  Baby Driver  SMSV  Ragnarok
freq            6          6            4     2         2

In [ ]:
Filmes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   V1      30 non-null     object
 1   V2      30 non-null     object
 2   V3      21 non-null     object
 3   V4      9 non-null      object
 4   V5      6 non-null      object
dtypes: object(5)
memory usage: 1.3+ KB

In [ ]:
Filmes.shape

(30, 5)

In [ ]:
amostras = []
for i in range(0, 30):
  amostras.append([str(Filmes.values[i, j]) for j in range(0, 5)])

In [ ]:
for i in range(len(amostras)):
  amostras[i] = [n for n in amostras[i] if str(n) != 'nan']  

print(amostras[1])

['Gladiator', 'Patriot', 'Braveheart']

In [ ]:
amostras

[['Sixth Sense', 'LOTR1', 'Harry Potter1', 'Green Mile', 'LOTR2'],
 ['Gladiator', 'Patriot', 'Braveheart'],
 ['LOTR1', 'LOTR2'],
 ['Gladiator', 'Patriot', 'Sixth Sense'],
 ['Gladiator', 'Patriot', 'Sixth Sense'],
 ['Gladiator', 'Patriot', 'Sixth Sense'],
 ['Harry Potter1', 'Harry Potter2'],
 ['Gladiator', 'Patriot'],
 ['Gladiator', 'Patriot', 'Sixth Sense'],
 ['Sixth Sense', 'LOTR', 'Gladiator', 'Green Mile'],
 ['Black Panther', 'Endgame', 'Toy Story 4', 'SMSV', 'Ragnarok'],
 ['Logan', 'Nosferatu', 'Baby Driver', 'Endgame', 'Ragnarok'],
 ['Logan', 'Nosferatu'],
 ['Logan', 'Nosferatu', 'Baby Driver'],
 ['Logan', 'Nosferatu', 'Black Panther'],
 ['Toy Store 4', 'Psycho'],
 ['Logan', 'Nosferatu', 'Baby Driver'],
 ['Black Panther', 'Nosferatu'],
 ['Black Panther', 'Endgame', 'Logan', 'SMSV'],
 ['Halloween', 'Psycho', 'King Kong', 'Alien', 'Us'],
 ['Arachnophobia', 'Freaks', 'Phantom OTO'],
 ['Psycho', 'Freaks'],
 ['SMSV', 'Us', 'Alien'],
 ['Halloween', 'Alien'],
 ['Freaks', 'Halloween', 'Arachnophobia'],
 ['Halloween', 'Phantom OTO', 'Arachnophobia', 'Us'],
 ['Arachnophobia', 'Us', 'Freaks'],
 ['King Kong', 'King Kong'],
 ['Psycho', 'Halloween', 'Baby Driver', 'Logan', 'Nosferatu'],
 ['Arachnophobia', 'Freaks', 'Alien', 'Us', 'PhantomOTO']]

# M√©todo Apriori:

In [ ]:
regras_de_associacao = apriori(amostras, min_support = 0.2, min_confidence = 0.2, min_lift = 2, min_length = 2)
resultados_de_associacao = list(regras_de_associacao)

In [ ]:
print(len(resultados_de_associacao))

2

In [ ]:
for i in resultados_de_associacao:
  pair = i[0]
  items = [x for x in pair]

  print("Rule: " + items[0] + " -> " + items[1])
  print("Support: " + str(i[1]))
  print("Confidence: " + str(i[2][0][2]))
  print("Lift: " + str(i[2][0][3]))
  print("=====================================")

Rule: Gladiator -> Patriot
Support: 0.2
Confidence: 0.8571428571428572
Lift: 4.285714285714286
=====================================
Rule: Logan -> Nosferatu
Support: 0.2
Confidence: 0.8571428571428572
Lift: 3.673469387755102
=====================================